* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

body {
  height: 100vh;
  background-color: #eee;
  background-image: url("../assets/84a4ec0c6c5a805770cb7bff5bae6591.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid: max-content 2fr  / 1fr;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  /* display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
   
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: 50.5s; */
  margin-right: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: orange;
}

nav {
  position: static;
  top: 0;
  display: grid;
  grid: 1fr / 2fr 11fr 0.8fr;
  width: 100%;
  height: max-content;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  color: #000;
  padding-block: 20px;
}
nav > * {
  color: #000 !important;
}
nav .logo {
  margin-left: 20px;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.5s ease;
  width: 100px;
  height: 30px;
  font-size: unset;
}

.action-btn:hover {
  background-color: #fff;
  color: orange;
}
.action-btn:active {
  scale: 0.95;
}

/* responsive  */

@media (max-width: 992px) {
  .navbar .nav-links,
  .navbar .action-btn {
    display: none; /* Hide navigation links and action button on small screens */
  }
  .navbar .toggle-btn {
    display: block; /* Show toggle button on small screens */
  }
  .dropdown-menu {
    display: block; /* Ensure dropdown is visible on small screens */
  }
}

footer {
  background-color: #343434;
}

.footer-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 5px;
}
.footer-content {
  height: max-content;
}
.footer-content p {
  font-size: 14px;
}

.footer-content h5 {
  display: flex;
  text-align: center;
  color: #fff;
}

.footer-content p {
  margin: auto;
  padding: 7px;
  color: #fff;
}
.list-footer {
  display: grid;
  grid: repeat(1, max-content) / 1fr 1fr;
}
.footer-content ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

.footer-content ul li {
  margin-bottom: 10px;
}

.footer-content ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-content ul li a:hover {
  color: #ccc;
}

.socials {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.socials li {
  margin-right: 10px;
}

.socials li a {
  color: #fff;
  text-decoration: none;
}

.bottom-bar {
  height: max-content;
  text-align: center;
  color: #ccc;
}
h2 {
  font-size: 35px;
  color: rgb(228, 78, 18);
  padding: 20px;
}
.student-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.students {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 15px;
  font-size: 23px;
  text-align: center;
  gap: 20px;
}

.students > div {
  /* Remove inline styles and set flex-grow for potential overflow */
  flex: 1; /* Allow titles to grow and fill available space */
}

.student-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*4 ==> columns that we need  */
  grid-gap: 10px; /* the spaces between cells */
  margin-top: 10px;
  max-width: 800px;
}
.students > div {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 15px;
}
