* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

body {
  width: 100dvw;
  height: 100dvh;
  background-color: #eee;
  background-position: center;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid: max-content 2fr max-content/1fr;
  overflow-y: hidden;
}

nav {
  position: sticky;
  top: 0;
  display: grid;
  grid: 1fr / 0.1fr 0.85fr 0.08fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #ffffff;

  height: 100px !important;
}
nav > *,
.nav-buttons a {
  font-size: 18px;
}
nav .logo {
  display: flex;
  align-items: center;
  width: max-content;
  margin-right: 20px;
  height: 100%;
  width: 100px;
  cursor: pointer;
  position: relative;
  transition: 250ms ease-in-out;
}

nav .logo img {
  position: absolute;
  width: 100%;
  height: 90px;
  transition: 0.3s ease-in-out;
}
.main {
  z-index: 2;
}
.secondary {
  z-index: 1;
}
.hide {
  opacity: 0%;
  transition: 50ms ease-in-out;
}
nav .nav-buttons {
  display: grid;
  grid: 1fr / repeat(3, max-content);
  padding: 10px;
  /* margin-left: 100px; */
  gap: 50px;
}
.nav-buttons a {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: transparent;
  width: max-content;
  border: 1px solid transparent;
  padding: 5px 5px;
  outline: none;
  text-decoration: none;
  color: #000;
}
.nav-buttons a p {
  color: #000;
}
.nav-buttons a::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  bottom: 0;
  background-color: #000;
  transition: 0.3s ease-in-out;
}

.nav-buttons a:hover::before {
  width: 100%;
  transform: scale(1, 0.5);
}

.right {
  display: flex;
  width: 400px;
  justify-content: right;
  align-items: center;
  margin-right: 25px;
}

#logout {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  width: max-content;
  border: 1px solid transparent;
  background-color: #f0f0f0;
  color: #000;
  border-radius: 10px;
  padding: 7px 10px;
  outline: none;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

#logout:hover {
  background-color: red;
  color: white;
}
#logout:hover p {
  color: white !important;
}

section {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  height: 100%;
  border-radius: 20px;
  overflow-y: scroll;
}
.basic-info {
  display: flex;
  text-align: left;
  padding: 10px;
  flex-direction: column;
  height: 100%;
}
.basic-info h2 {
  font-size: 40px;
}
.info-item {
  padding: 20px;
  border-radius: 10px;
  width: max-content;
}

.student-info {
  display: grid;
  grid: repeat(4, auto) / repeat(1, auto);
  height: 100%;
  align-items: center;
  padding-inline: 20px;
  margin-left: 5px;
}
.student-info > p {
  font-size: 35px;
}
.teacher-info {
  display: grid;
  grid: repeat(3, auto) / repeat(1, auto);
  height: 100%;
  align-items: center;
  padding-inline: 20px;
}
.teacher-info > div {
  font-size: 35px;
}

/* responsive  */

@media (max-width: 992px) {
  .navbar .nav-links,
  .navbar .action-btn {
    display: none; /* Hide navigation links and action button on small screens */
  }
  .navbar .toggle-btn {
    display: block; /* Show toggle button on small screens */
  }
  .dropdown-menu {
    display: block; /* Ensure dropdown is visible on small screens */
  }
}

footer {
  background-color: #343434;
}

.footer-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 5px;
}
.footer-content {
  height: max-content;
}
.footer-content p {
  font-size: 14px;
}

.footer-content h5 {
  display: flex;
  text-align: center;
  color: #fff;
}

.footer-content p {
  margin: auto;
  padding: 7px;
  color: #fff;
}
.list-footer {
  display: grid;
  grid: repeat(1, max-content) / 1fr 1fr;
}
.footer-content ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

.footer-content ul li {
  margin-bottom: 10px;
}

.footer-content ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-content ul li a:hover {
  color: #ccc;
}

.socials {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.socials li {
  margin-right: 10px;
}

.socials li a {
  color: #fff;
  text-decoration: none;
}

.bottom-bar {
  height: max-content;
  text-align: center;
  color: #ccc;
}
h2 {
  font-size: 40px;
  color: rgb(228, 78, 18);
  padding: 20px;
}
.student-table-container {
  display: flex;
  flex-direction: column;
}

.students {
  display: grid;
  grid: auto/ repeat(3, 1fr);
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  padding: 10px;
  border-radius: 15px;
  font-size: 23px;
  text-align: center;
  gap: 20px;
}
.teacher-students {
  display: grid;
  grid: auto/ repeat(4, 1fr);
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  padding: 10px;
  border-radius: 15px;
  font-size: 23px;
  text-align: center;
  gap: 20px;
}

.student-table {
  display: grid;
  grid: repeat(1, auto) / repeat(1, 1fr); /*4 ==> columns that we need  */
  grid-gap: 10px; /* the spaces between cells */
  margin-top: 10px;
  width: 100%;
}
.students > *,
.teacher-students > * {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 15px;
  background: white;
}
.about {
  display: grid;
  grid: repeat(3, auto) / 1fr;
  flex-grow: 1;
  height: auto;
  width: 100%;
  justify-items: center;
}
.about :first-child {
  margin-top: 15px;
}
about-container {
  margin-bottom: 10px;
}
.about-container h3 {
  margin-bottom: 10px;
}
.about > div {
  margin-bottom: 50px;
  padding: 10px;
  width: 1000px;
}
.about div img {
  width: 100%;
  height: 100%;
  transition: 250ms ease-in-out;
  border: none;
  border-radius: 15px;
}
.about div img:hover {
  transform: scale(1.05);
}
.img-container {
  width: 1000px;
  height: 500px;
  margin-bottom: 10px;
}
