:root {
  --body-light: #eee;
  --nav-light: #0077ff;
  --nav-buttons-light: white;
  --nav-buttons-hover-light: white;
  --nav-burger-color-light: white;
  --nav-burger-options-light: #0077ff;
  --about-container-light: #ffffff;
  --about-container-text-light: #000;
  --course-container-light: white;
  --course-color-dark: #000;
  --course-h2-light: #000;
  --course-border-light: 1px solid transparent;
  --footer-light: #0077ff;
  --footer-a-light: #fff;
  --bottom-bar-light: #fcfcfc;

  --body-dark: #111a26;
  --nav-dark: #18242f;
  --nav-buttons-dark: white;
  --nav-buttons-hover-dark: white;
  --nav-burger-color-dark: white;
  --nav-burger-options-dark: #18242f;
  --basic-info-text-dark: white;
  --about-container-dark: #18242f;
  --about-container-text-dark: white;
  --course-container-dark: #18242f;
  --course-color-dark: white;
  --course-border-dark: 1px solid transparent;
  --course-h2-dark: white;
  --footer-dark: #18242f;
  --footer-a-dark: white;
  --bottom-bar-dark: white;
}

@media (prefers-color-scheme: light) {
  * {
    color-scheme: white;
  }
  body {
    background-color: var(--body-light);
  }
  nav {
    background-color: var(--nav-light);
    border: var(--form-light);
  }
  nav > *,
  .nav-buttons a {
    font-size: 18px;
    color: --var(--nav-buttons-dark);
  }
  .nav-buttons a::before {
    content: "";
    background-color: var(--nav-buttons-hover-light);
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: 0;
    transition: 0.3s ease-in-out;
  }
  .burger > * {
    background-color: var(--nav-burger-color-light);
  }
  .options {
    background-color: var(--nav-burger-options-light);
  }
  footer {
    background-color: var(--footer-light);
  }
  .about-container {
    background-color: var(--about-container-light);
    color: var(--about-container-text-light);
  }
  .students > *,
  .teacher-students > * {
    background-color: var(--course-container-light);
    border: var(--course-border-light);
    color: var(--course-color-light);
  }
  h2 {
    color: var(--course-h2);
  }
  footer h5 {
    color: white;
  }
  .footer-content p {
    color: white;
  }
  .footer-content ul li:hover a {
    color: #ccc;
  }
  .footer-content ul li a {
    color: var(--footer-a-light);
  }
  .bottom-bar {
    color: var(--bottom-bar-light);
  }
}

@media (prefers-color-scheme: dark) {
  * {
    color-scheme: dark;
  }
  body {
    background-color: var(--body-dark);
  }
  nav {
    background-color: var(--nav-dark);
    border: var(--form-light);
  }
  nav > *,
  .nav-buttons a {
    font-size: 18px;
    color: --var(--nav-buttons-dark);
  }
  .nav-buttons a::before {
    content: "";
    background-color: var(--nav-buttons-hover-dark);
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: 0;
    transition: 0.3s ease-in-out;
  }
  .burger > * {
    background-color: var(--nav-burger-color-dark);
  }
  .options {
    background-color: var(--nav-burger-options-dark);
  }
  .student-info > * {
    color: var(--basic-info-text-dark);
  }
  h2 {
    color: var(--course-h2-dark);
  }
  .students > *,
  .teacher-students > * {
    background-color: var(--course-container-dark);
    border: var(--course-border-dark);
    color: var(--course-color-dark);
  }
  .about-container {
    background-color: var(--about-container-dark);
    color: var(--about-container-text-dark);
  }
  footer {
    background-color: var(--footer-dark);
  }
  .footer-content ul li:hover a {
    color: #ccc;
  }
  .footer-content ul li a {
    color: var(--footer-a-dark);
  }
  .bottom-bar {
    color: var(--bottom-bar-dark);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

body {
  width: 100dvw;
  height: 100dvh;
  background-position: center;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid: max-content 2fr max-content/1fr;
  overflow-y: hidden;
}

nav {
  position: sticky;
  top: 0;
  display: grid;
  grid: 1fr / 0.1fr 0.85fr 0.08fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px !important;
}
nav > *,
.nav-buttons a {
  font-size: 18px;
}
nav .logo {
  display: flex;
  align-items: center;
  width: max-content;
  margin-right: 20px;
  height: 100%;
  width: 100px;
  cursor: pointer;
  position: relative;
  transition: 250ms ease-in-out;
}

nav .logo img {
  position: absolute;
  width: 100%;
  height: 90px;
  transition: 0.3s ease-in-out;
}
.main {
  z-index: 2;
}
.secondary {
  z-index: 1;
}
.hide {
  opacity: 0%;
  transition: 50ms ease-in-out;
}
nav .nav-buttons {
  display: grid;
  grid: 1fr / repeat(3, max-content);
  padding: 10px;
  /* margin-left: 100px; */
  gap: 50px;
}
.nav-buttons a {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: transparent;
  width: max-content;
  border: 1px solid transparent;
  padding: 5px 5px;
  outline: none;
  text-decoration: none;
  color: #ffffff;
}

.nav-buttons a::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  bottom: 0;
  transition: 0.3s ease-in-out;
}

.nav-buttons a:hover::before {
  width: 100%;
  transform: scale(1, 0.5);
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 25px;
}

#logout {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  width: max-content;
  border: 1px solid transparent;
  background-color: #f0f0f0;
  color: #000;
  border-radius: 10px;
  padding: 7px 10px;
  outline: none;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

#logout:hover {
  background-color: red;
  color: white;
}
#logout:hover p {
  color: white !important;
}
.menu {
  display: none;
  margin-right: 10px;
  cursor: pointer;
}
.burger {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.burger > * {
  width: 50px;
  height: 5px;
  border-radius: 5px;
}
.options {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  gap: 10px;
  z-index: 1;
  right: 2px;
  top: 100px;
  width: 150px;
  padding-block: 13px;
  overflow: hidden;
  height: max-content;
  transition: 250ms ease-in-out;
  z-index: 100;
}
.options .nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px;
}
.options .right {
  margin: 0;
  justify-content: left;
}
.hide-options {
  width: 0px;
  transition: 250ms ease-in-out;
}
section {
  display: grid;
  grid: 2fr max-content / 1fr;
  gap: 20px;
  font-size: 20px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.basic-info {
  display: flex;
  text-align: left;
  padding: 10px;
  flex-direction: column;
  height: 100%;
}
.basic-info h2 {
  font-size: 40px;
}
.info-item {
  padding: 20px;
  border-radius: 10px;
  width: max-content;
}

.student-info {
  display: grid;
  grid: repeat(4, auto) / repeat(1, auto);
  height: 100%;
  align-items: center;
  padding-inline: 20px;
  margin-left: 5px;
}
.student-info > p {
  font-size: 35px;
}
.teacher-info {
  display: grid;
  grid: repeat(3, auto) / repeat(1, auto);
  height: 100%;
  align-items: center;
  padding-inline: 20px;
}
.teacher-info > div {
  font-size: 35px;
}
.students > *,
.teacher-students > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.teacher-students {
  align-items: center;
  justify-items: center;
}
.teacher-students :first-child {
  height: max-content;
  padding: 10px;
}
.footer-contents {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, auto);
  gap: 5px;
  padding: 5px 5px;
}
.footer-content {
  display: grid;
  justify-content: start;
}

.footer-contents :nth-child(2).footer-content {
  gap: 10px;
}
.footer-contents :nth-child(1).footer-content {
  gap: 10px;
}
.footer-content p {
  font-size: 14px;
  padding: 0px !important;
}

.footer-content h5 {
  display: flex;
  text-align: center;
}
.list-footer {
  display: grid;
  grid: repeat(1, auto) / repeat(2, auto);
}
.footer-content ul {
  text-align: center;
  list-style: none;
  padding: 0;
  gap: 10px;
}

.footer-content ul li {
  display: flex;
  margin: 0px;
}

.footer-content ul li a {
  text-decoration: none;
  font-size: 20px;
}

.socials {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.socials li {
  margin-right: 10px;
}

.socials li a {
  text-decoration: none;
}

.bottom-bar {
  display: flex;
  justify-content: center;
}
h2 {
  font-size: 40px;
  padding: 20px;
}
.student-table-container {
  display: flex;
  flex-direction: column;
}

.students {
  display: grid;
  grid: auto/ repeat(3, 1fr);
  width: 100%;
  background-color: transparent;
  padding: 10px;
  border-radius: 15px;
  font-size: 23px;
  text-align: center;
  gap: 20px;
}
.enrolled-students {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.teacher-students {
  display: grid;
  grid: auto/ repeat(4, 1fr);
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  padding: 10px;
  border-radius: 15px;
  font-size: 23px;
  text-align: center;
  gap: 20px;
}

.student-table {
  display: grid;
  grid: repeat(1, auto) / repeat(1, 1fr); /*4 ==> columns that we need  */
  grid-gap: 10px; /* the spaces between cells */
  margin-top: 10px;
  width: 100%;
  height: 100%;
}
.students > *,
.teacher-students > * {
  padding: 10px;
  font-size: 1em;
  border-radius: 15px;
}
.about {
  display: grid;
  grid: repeat(3, auto) / 1fr;
  flex-grow: 1;
  height: auto;
  width: 100%;
  justify-items: center;
  gap: 50px;
}
.about :first-child {
  margin-top: 15px;
}
.about-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 15px;
  gap: 15px;
  width: 1100px;
  align-items: start;
}
.about-container h3 {
  margin-bottom: 10px;
}
.about div img {
  width: 100%;
  height: 100%;
  transition: 250ms ease-in-out;
  border: none;
  border-radius: 15px;
}
.about div img:hover {
  transform: scale(1.05);
}
.img-container {
  width: 1000px;
  height: 500px;
  margin: auto;
  margin-bottom: 10px;
}
