:root {
  --body-light: #ececec;
  --form-light: white;
  --form-border-light: 1px solid #ffffff;
  --form-text-light: #0077ff;
  --a-light: #4790c4;

  --body-dark: #111a26;
  --form-dark: #18242f;
  --form-border-dark: 1px solid #18242f;
  --form-text-dark: white;
  --a-dark: white;
}
form input:focus-within {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.container {
  width: 350px;
  margin: 50px auto;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 5px -6px 12px -1px rgba(0, 0, 0, 0.32);
  transition: 250ms ease-in-out;
  transform: translateY(30%);
}

h2 {
  color: var(--form-text);
}

.container input[type="text"],
.container input[type="password"],
.container input[type="submit"],
#login {
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  width: calc(100% - 20px);
}
.container input[type="submit"],
#login {
  background-color: #0073f7;
  color: white;
  font-family: sans-serif;
  border: none;
  cursor: pointer;
}

.radio-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
  color: #777777;
}
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
}
.form-group input {
  width: calc(100% - 30px);
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}
.form-group input:focus {
  border-color: #4790c4;
}
.register-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.register-link {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.register-link:hover {
  text-decoration: underline;
  color: #0077ff;
}
.footer p {
  position: fixed;
  bottom: 0;
  font-size: 12px;
  font-family: sans-serif;
  margin-top: 20px;
  text-align: left;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--body-dark);
  }
  .container {
    background-color: var(--form-dark);
    border: var(--form-dark);
  }
  .register-link {
    color: var(--a-dark);
  }
  h2 {
    color: var(--form-text-dark);
  }
  .footer p {
    color: var(--a-dark);
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--body-light);
  }
  .container {
    background-color: var(--form-light);
    border: var(--form-light);
  }
  .register-link {
    color: var(--a-light);
  }
  h2 {
    color: var(--form-text-light);
  }
  .footer p {
    color: var(--a-light);
  }
}
