:root {
  --body: #ececec;
  --form: white;
  --form-border: 1px solid #ffffff;
  --form-text: #0077ff;
  --a: #4790c4;
}
:root.dark {
  --form-border: 1px solid #18242f;
  --body: #111a26;
  --form: #18242f;
  --form-text: white;
  --a: white;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--body);
  }
  .container {
    background-color: var(--form-dark);
    border: var(--form-dark);
  }
  .register-link {
    color: var(--a);
  }
  h2 {
    color: var(--form-text);
  }
  .footer p {
    color: var(--a);
  }
}

form input:focus-within {
  outline: none;
}
body {
  background-color: var(--body);
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.container {
  width: 350px;
  margin: 50px auto;
  text-align: center;
  border: var(--form-border);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 5px -6px 12px -1px rgba(0, 0, 0, 0.32);
  transition: 250ms ease-in-out;
  transform: translateY(30%);
  background: var(--form);
}

.switch {
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  display: flex;
  justify-content: left;
  transition: 250ms ease-in-out;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  background: #ebebeb;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  width: 80px;
  height: 30px;
}
.switch:after {
  content: "";
  width: 40%;
  height: 100%;
  position: absolute;
  /* top: 0;
  left: 0; */
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  outline: 1px solid #d8860b;
  border-radius: 35px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#theme-switcher:checked + label:after {
  background: linear-gradient(180deg, #777, #3a3a3a);
  outline: 1px solid #3a3a3a;
}
#theme-switcher:checked + label {
  justify-content: right;
}
.switch:active:after {
  width: 100%;
}
#theme-switcher {
  width: 0;
  height: 0;
  visibility: hidden;
}

h2 {
  color: var(--form-text);
}

.container input[type="text"],
.container input[type="password"],
.container input[type="submit"],
#login {
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  width: calc(100% - 20px);
}
.container input[type="submit"],
#login {
  background-color: #0073f7;
  color: white;
  font-family: sans-serif;
  border: none;
  cursor: pointer;
}

.radio-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
  color: #777777;
}
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
}
.form-group input {
  width: calc(100% - 30px);
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}
.form-group input:focus {
  border-color: #4790c4;
}
.register-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.register-link {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  text-align: center;
  font-family: sans-serif;
  color: var(--a);
  font-weight: bold;
  font-size: 14px;
}
.register-link:hover {
  text-decoration: underline;
  color: #0077ff;
}
.footer p {
  position: fixed;
  bottom: 0;
  font-size: 12px;
  font-family: sans-serif;
  margin-top: 20px;
  color: var(--a);
  text-align: left;
}
