body {

  display: flex;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #90938b, #f1f0df);
  justify-content: center;
}



.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;



  width: 350px;
}

.parent-login {
  background: linear-gradient(to bottom right, #f5f5f5, #e7d8ca);
  padding: 30px;
  border-radius: 8px;
  height: 35%;
}

.h1 {
  margin-inline: auto;

}

.child-login {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.parent-login form {
  display: flex;
  flex-direction: column;
}

.parent-login input[type="text"],
.parent-login input[type="password"] {
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: linear-gradient(to right, #d2d7d6, #c4c1c1);

}

.radio-group {
  display: flex;
  justify-content: left;
  gap: 18px;
}

.parent-login input[type="submit"] {
  display: inline-block;
  padding: 10px;

  background: linear-gradient(to right, #4CAF50, #45a049);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin: 10px;
  text-align: center;
  align-items: center;
}

.parent-login input[type="submit"]:hover {
  background: blue;
}

.parent-login a {

  padding-bottom: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.copyright {
  display: flex;
  flex-direction: column;
  text-align: center;
}