/* Small devices (phones, 320px and up) */
@media only screen and (min-width: 320px) {
  .container {
    width: 217px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    width: 350px;
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .container {
    width: 350px;
  }
}
