@media only screen and (width >= 900px) and (width <= 1024px) {
  .nav-buttons a {
    font-size: 30px;
  }
  #logout {
    font-size: 30px;
  }
  .basic-info h2 {
    font-size: 40px;
  }
  .student-info > p {
    font-size: 35px;
  }
  .teacher-info > div {
    font-size: 35px;
  }
  .students {
    grid-template-columns: repeat(3, auto);
    justify-content: unset;
    grid-auto-rows: auto;
    justify-items: center;
    align-content: center;
    padding: 0px;
    gap: 0px;
  }
  .students :not(:first-child) {
    text-wrap: wrap;
    width: 100px;
    height: max-content;
    padding: 10px 10px;
    font-size: 30px;
  }
  .students :first-child {
    width: 500px;
    font-size: 30px;
  }
  .enrolled-students {
    gap: 20px;
  }
  .teacher-students {
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: auto;
    justify-items: center;
    align-content: center;
    padding: 0px;
    gap: 0px;
  }
  .teacher-students > * {
    padding: 0px;
    font-size: unset;
  }
  .teacher-students :not(:first-child) {
    text-wrap: wrap;
    width: 170px;
    height: max-content;
    padding: 10px 10px;
    font-size: 24px;
  }

  .teacher-students :first-child {
    width: 300px;
    font-size: 24px;
  }
  .about-container h3 {
    font-size: 30px;
  }
  .about-container {
    width: 900px;
  }
  .about-container p {
    font-size: 30px;
  }
  .img-container {
    width: 100%;
  }
  .footer-contents :nth-child(1).footer-content {
    gap: 5px;
  }
  .footer-contents :nth-child(2).footer-content {
    gap: 3px;
  }
  .footer-content ul {
    gap: 3px;
  }
  .footer-content p {
    font-size: 18px;
  }
  .footer-content h5 {
    font-size: 20px;
  }
  .footer-content ul li {
    gap: 5px;
  }
  .footer-content ul li a {
    font-size: 18px;
  }
  .bottom-bar {
    font-size: 18px;
  }
}

@media only screen and (width <= 820px) {
  .basic-info h2 {
    font-size: 25px;
  }
  .student-info > p {
    font-size: 20px;
  }
  .teacher-info > div {
    font-size: 20px;
  }
  .students {
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: auto;
    justify-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 0px;
    gap: 0px;
  }
  .students :not(:first-child) {
    text-wrap: wrap;
    width: 105px;
    height: max-content;
    padding: 10px 10px;
    font-size: 25px;
  }
  .students :first-child {
    width: 416px;
    font-size: 25px;
  }
  .enrolled-students {
    gap: 15px;
  }
  .teacher-students {
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: auto;
    justify-items: center;
    align-content: center;
    padding: 0px;
    gap: 0px;
  }
  .teacher-students > * {
    padding: 0px;
    font-size: unset;
  }
  .teacher-students :not(:first-child) {
    text-wrap: wrap;
    width: 90px;
    height: max-content;
    padding: 10px 10px;
    font-size: 25px;
  }

  .teacher-students :first-child {
    width: 390px;
    font-size: 20px;
  }
  .about-container h3 {
    font-size: 45px;
  }
  .about-container {
    width: 700px;
  }
  .about-container p {
    font-size: 35px;
  }
  .img-container {
    width: 600px;
  }

  .footer-content p {
    font-size: 12px;
  }
  .footer-content h5 {
    font-size: 16px;
  }
  .footer-content ul li {
    height: max-content;
    margin: 0px;
  }
  .footer-content ul li a {
    font-size: 12px;
    margin: 0px;
  }
  .bottom-bar {
    font-size: 12px;
  }
}

@media only screen and (width <= 547px) {
  nav {
    grid-template-columns: repeat(2, auto);
  }
  nav > .nav-buttons,
  nav > .right {
    display: none;
  }
  .menu {
    display: flex;
  }
  .basic-info h2 {
    font-size: 25px;
  }
  .student-info > p {
    font-size: 20px;
  }
  .teacher-info > div {
    font-size: 20px;
  }
  .students {
    grid-template-columns: repeat(3, auto);
    justify-content: unset;
    grid-auto-rows: auto;
    justify-items: center;
    align-content: center;
    padding: 0px;
    gap: 0px;
  }
  .students :not(:first-child) {
    text-wrap: wrap;
    width: 100px;
    height: max-content;
    padding: 10px 10px;
    font-size: 16px;
  }
  .students :first-child {
    width: 280px;
    font-size: 16px;
  }

  .teacher-students {
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: auto;
    justify-items: center;
    align-content: center;
    padding: 0px;
    gap: 0px;
  }
  .teacher-students > * {
    padding: 0px;
    font-size: unset;
  }
  .teacher-students :not(:first-child) {
    text-wrap: wrap;
    width: 80px;
    height: max-content;
    padding: 10px 10px;
    font-size: 16px;
  }

  .teacher-students :first-child {
    width: 250px;
    font-size: 16px;
  }
  .about-container h3 {
    font-size: 35px;
  }
  .about-container {
    width: 400px;
  }
  .about-container p {
    font-size: 25px;
  }
  .img-container {
    width: 350px;
  }

  .footer-contents :nth-child(1).footer-content {
    gap: 5px;
  }
  .footer-contents :nth-child(2).footer-content {
    gap: 3px;
  }
  .footer-content ul {
    gap: 0px;
  }
  .footer-content p {
    font-size: 10px;
  }
  .footer-content h5 {
    font-size: 12px;
  }
  .footer-content ul li {
    height: max-content;
  }
  .footer-content ul li a {
    font-size: 10px;
  }
  .bottom-bar {
    font-size: 10px;
  }
}

@media only screen and (width <= 430px) {
  nav {
    grid-template-columns: repeat(2, auto);
  }
  nav > .nav-buttons,
  nav > .right {
    display: none;
  }
  .menu {
    display: flex;
  }
  .basic-info h2 {
    font-size: 25px;
  }
  .student-info > p {
    font-size: 20px;
  }
  .teacher-info > div {
    font-size: 20px;
  }
  .students {
    grid-template-columns: repeat(3, auto);
    justify-content: unset;
    grid-auto-rows: auto;
    justify-items: center;
    align-content: center;
    padding: 0px;
    gap: 0px;
  }
  .students :not(:first-child) {
    text-wrap: wrap;
    width: 70px;
    height: max-content;
    padding: 10px 10px;
    font-size: 14px;
  }
  .students :first-child {
    width: 240px;
    font-size: 14px;
  }

  .teacher-students {
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: auto;
    justify-items: center;
    align-content: center;
    padding: 0px;
    gap: 0px;
  }
  .teacher-students > * {
    padding: 0px;
    font-size: unset;
  }
  .teacher-students :not(:first-child) {
    text-wrap: wrap;
    width: 60px;
    height: max-content;
    padding: 10px 10px;
    font-size: 13px;
  }

  .teacher-students :first-child {
    width: 195px;
    font-size: 13px;
  }

  .about-container {
    width: 350px;
  }
  .about-container p {
    font-size: 20px;
  }
  .img-container {
    width: 100%;
  }

  .footer-contents :nth-child(1).footer-content {
    gap: 5px;
  }
  .footer-contents :nth-child(2).footer-content {
    gap: 3px;
  }
  .footer-content ul {
    gap: 0px;
  }
  .footer-content p {
    font-size: 10px;
  }
  .footer-content h5 {
    font-size: 12px;
  }
  .footer-content ul li {
    height: max-content;
  }
  .footer-content ul li a {
    font-size: 10px;
  }
  .bottom-bar {
    font-size: 10px;
  }
}

@media only screen and (width <= 400px) {
  nav {
    grid-template-columns: repeat(2, auto);
  }
  nav > .nav-buttons,
  nav > .right {
    display: none;
  }
  .menu {
    display: flex;
  }
  .basic-info h2 {
    font-size: 25px;
  }
  .student-info > p {
    font-size: 20px;
  }
  .teacher-info > div {
    font-size: 20px;
  }
  .students {
    grid-template-columns: repeat(3, auto);
    justify-content: unset;
    grid-auto-rows: auto;
    justify-items: center;
    align-content: center;
    padding: 0px;
    gap: 0px;
  }
  .students :not(:first-child) {
    text-wrap: wrap;
    width: 50px;
    height: max-content;
    padding: 10px 10px;
    font-size: 12px;
  }
  .students :first-child {
    width: 180px;
    font-size: 10px;
  }

  .teacher-students {
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: auto;
    justify-items: center;
    align-content: center;
    padding: 0px;
    gap: 0px;
  }
  .teacher-students > * {
    padding: 0px;
    font-size: unset;
  }
  .teacher-students :not(:first-child) {
    text-wrap: wrap;
    width: 50px;
    height: max-content;
    padding: 10px 10px;
    font-size: 12px;
  }

  .teacher-students :first-child {
    width: 160px;
    font-size: 10px;
  }

  .about-container {
    width: 350px;
  }
  .about-container p {
    font-size: 20px;
  }
  .img-container {
    width: 100%;
  }

  .footer-contents :nth-child(1).footer-content {
    gap: 5px;
  }
  .footer-contents :nth-child(2).footer-content {
    gap: 3px;
  }
  .footer-content ul {
    gap: 0px;
  }
  .footer-content p {
    font-size: 10px;
  }
  .footer-content h5 {
    font-size: 10px;
  }
  .footer-content ul li {
    height: max-content;
  }
  .footer-content ul li a {
    font-size: 10px;
  }
  .bottom-bar {
    font-size: 8px;
  }
}
