:root {
  --body-light: #ececec;
  --form-light: white;
  --form-border-light: 1px solid #ffffff;
  --form-text-light: #0077ff;
  --a-light: #4790c4;

  --body-dark: #111a26;
  --form-dark: #18242f;
  --form-border-dark: 1px solid #18242f;
  --form-text-dark: white;
  --a-dark: white;
}
form input {
  width: 150px;
}
form input:focus-within {
  outline: none;
}

.container {
  width: 350px;
  margin: 50px auto;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 5px -6px 12px -1px rgba(0, 0, 0, 0.32);
  transition: 250ms ease-in-out;
}

.switch {
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  display: flex;
  justify-content: left;
  transition: 250ms ease-in-out;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  background: #ebebeb;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  width: 80px;
  height: 30px;
}
.switch:after {
  content: "";
  width: 40%;
  height: 100%;
  position: absolute;
  /* top: 0;
  left: 0; */
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  outline: 1px solid #d8860b;
  border-radius: 35px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#theme-switcher:checked + label:after {
  background: linear-gradient(180deg, #777, #3a3a3a);
  outline: 1px solid #3a3a3a;
}
#theme-switcher:checked + label {
  justify-content: right;
}
.switch:active:after {
  width: 100%;
}
#theme-switcher {
  width: 0;
  height: 0;
  visibility: hidden;
}
.head h2 {
  font-size: 24px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.body input[type="text"],
.body input[type="password"],
.body input[type="submit"],
#login {
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
}
.body input[type="submit"],
#login {
  background-color: #0073f7;
  color: white;
  font-family: sans-serif;
  border: none;
  cursor: pointer;
}

.login {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background: none;
  width: max-content;
  margin-top: 15px;
  margin: auto;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.login:hover {
  text-decoration: underline;
  color: #0077ff;
}
.form input:focus {
  outline: none;
}

.form {
  border: var(--error-color);
}

.form.success input {
  border-color: var(--success-color);
}

.form small {
  color: var(--error-color);
}

.footer {
  position: fixed;
  bottom: 0;
}
.footer p {
  position: fixed;
  bottom: 0;
  font-size: 12px;
  font-family: sans-serif;
  margin-top: 20px;
  color: var(--a);
  text-align: left;
}
.footer p.font-dark {
  color: var(--form-text-dark);
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--body-dark);
  }
  .container {
    background-color: var(--form-dark);
    border: var(--form-dark);
  }
  .register-link {
    color: var(--a-dark);
  }
  h2 {
    color: var(--form-text-dark);
  }
  .footer p {
    color: var(--a-dark);
  }
  .login {
    color: var(--a-dark);
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--body-light);
  }
  .container {
    background-color: var(--form-light);
    border: var(--form-light);
  }
  .register-link {
    color: var(--a-light);
  }
  h2 {
    color: var(--form-text-light);
  }
  .footer p {
    color: var(--a-light);
  }
  .login {
    color: var(--a-light);
  }
}
