:root {
  --body-light: #ececec;
  --form-light: white;
  --form-border-light: 1px solid #ffffff;
  --form-text-light: #0077ff;
  --a-light: #4790c4;

  --body-dark: #111a26;
  --form-dark: #18242f;
  --form-border-dark: 1px solid #18242f;
  --form-text-dark: white;
  --a-dark: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--body-dark);
  }
  .container {
    background-color: var(--form-dark);
    border: var(--form-dark);
  }
  .register-link {
    color: var(--a-dark);
  }
  h2 {
    color: var(--form-text-dark);
  }
  .footer p {
    color: var(--a-dark);
  }
  .login {
    color: var(--a-dark);
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--body-light);
  }
  .container {
    background-color: var(--form-light);
    border: var(--form-light);
  }
  .register-link {
    color: var(--a-light);
  }
  h2 {
    color: var(--form-text-light);
  }
  .footer p {
    color: var(--a-light);
  }
  .login {
    color: var(--a-light);
  }
}

form input {
  width: 150px;
}
form input:focus-within {
  outline: none;
}

.container {
  width: 350px;
  margin: 50px auto;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 5px -6px 12px -1px rgba(0, 0, 0, 0.32);
  transition: 250ms ease-in-out;
}
.head h2 {
  font-size: 24px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.body input[type="text"],
.body input[type="password"],
.body input[type="submit"],
#login {
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
}
.body input[type="submit"],
#login {
  background-color: #0073f7;
  color: white;
  font-family: sans-serif;
  border: none;
  cursor: pointer;
}

.login {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background: none;
  width: max-content;
  margin-top: 15px;
  margin: auto;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.login:hover {
  text-decoration: underline;
  color: #0077ff;
}
.form input:focus {
  outline: none;
}

.form {
  border: var(--error-color);
}

.form.success input {
  border-color: var(--success-color);
}

.form small {
  color: var(--error-color);
}

.footer {
  position: fixed;
  bottom: 0;
}
.footer p {
  position: fixed;
  bottom: 0;
  font-size: 12px;
  font-family: sans-serif;
  margin-top: 20px;
  text-align: left;
}
