:root {
  --body-light: #ececec;
  --form-light: white;
  --form-border-light: 1px solid #ffffff;
  --form-text-light: #0077ff;
  --a-light: #4790c4;

  --body-dark: #111a26;
  --form-dark: #18242f;
  --form-border-dark: 1px solid #18242f;
  --form-text-dark: white;
  --a-dark: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--body-dark);
  }
  .container {
    background-color: var(--form-dark);
    border: var(--form-dark);
  }
  .register-link {
    color: var(--a-dark);
  }
  h2 {
    color: var(--form-text-dark);
  }
  .footer p {
    color: var(--a-dark);
  }
  .log {
    color: var(--a-dark);
  }
}
@media (prefers-color-scheme: light) {
  * {
    color-scheme: white;
  }
  body {
    background-color: var(--body-light);
  }
  .container {
    background-color: var(--form-light);
    border: var(--form-light);
  }
  .register-link {
    color: var(--a-light);
  }
  h2 {
    color: var(--form-text-light);
  }
  .footer p {
    color: var(--a-light);
  }
  .log {
    color: var(--a-light);
  }
}

form input {
  width: 150px;
}
form input:focus-within {
  outline: none;
}

.container {
  width: 350px;
  margin: 50px auto;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 5px -6px 12px -1px rgba(0, 0, 0, 0.32);
  transition: 250ms ease-in-out;
}

.head h2 {
  font-size: 24px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.body input[type="text"],
.body input[type="password"],
.body input[type="submit"] {
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.dropdown div {
  background-color: #ededed;
  color: #000000;
  padding: 10px 15px;
  border: 15px;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#courses {
  width: max-content;
  margin: auto;
}
.dropdown label {
  display: grid;
  grid: 1fr / 2fr 1fr;
  padding: 10px 15px;
  height: max-content;
  color: #333;
  text-decoration: none;
  overflow: hidden;
}

.dropdown .content {
  display: grid;
  grid: repeat(23, 1fr) / auto;
  gap: 10px;
  position: absolute;
  background-color: #ffffff;
  color: #ffffff;
  min-width: 50px;
  box-shadow: 2px 2px 5px black;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
  width: 100%;
  font-size: 15px;
  top: 43px;
  transform: translateX(-3%);
}
.hide {
  display: block;
  align-items: center;
  justify-content: space-between;
}

#courses:hover {
  background-color: #afaeae;
}
.dropdown label:hover {
  background-color: #554d4d61;
}

.log {
  display: flex;
  justify-content: center;
  background: none;
  width: max-content;
  margin-top: 15px;
  margin: auto;
  cursor: pointer;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
  height: 40px;
  padding: 10px 16px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.log:hover {
  text-decoration: underline;
  color: #0077ff;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 6px;
}
.footer p {
  font-size: 12px;
  font-family: sans-serif;
  margin-top: 20px;
  text-align: left;
}
#register:not(form) {
  background-color: #0073f7;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  height: 40px;
  padding: 10px 16px;
}

.hide {
  visibility: hidden;
}
