* {
  margin: 0;
}
body {
  /* overflow-x: hidden; */
  height: 100vh;
  width: 100dvw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.home {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
}
nav {
  display: grid;
  grid: 1fr / 0.1fr 1.2fr 0.08fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #0073f7;
  height: 100px;
}
nav > *,
.nav-buttons > * {
  color: white;
  font-size: 18px;
}
nav .logo {
  width: max-content;
  margin-right: 20px;
  height: 100px;
  cursor: pointer;
  position: relative;
}

nav .logo img {
  position: absolute;
  width: 100px;
  height: 100px;
  transition: 0.3s ease-in-out;
}
.main {
  z-index: 2;
}
.secondary {
  z-index: 1;
}
.hide {
  opacity: 0%;
  transition: 0.3s ease-in-out;
}
.main.hide:hover {
  opacity: 100%;
}
nav .nav-buttons {
  display: grid;
  grid: 1fr / repeat(3, max-content);
  padding: 10px;
  /* margin-left: 100px; */
  gap: 50px;
}
.nav-buttons button {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: transparent;
  width: max-content;
  border: 1px solid transparent;
  padding: 5px 5px;
  outline: none;
}
.nav-buttons button::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  bottom: 0;
  background-color: white;
  transition: 0.3s ease-in-out;
}

.nav-buttons button:hover::before {
  width: 100%;
}

#logout {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  width: max-content;
  border: 1px solid transparent;
  background-color: #ffffff;
  color: #000;
  border-radius: 10px;
  padding: 7px 10px;
  outline: none;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

#logout:hover {
  background-color: red;
  color: white;
}
#logout:hover a {
  color: white;
}

section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: white;
  font-size: 30px;
  height: 100%;
  overflow-y: scroll;
}

.basic-info {
  text-align: left;
  padding: 10px;
  flex-grow: 1;
}
.basic-info h2 {
  margin-bottom: 20px;
}

.student-info {
  display: grid;
  grid: repeat(4, auto) / repeat(1, auto);
  height: 100%;
  align-items: center;
  height: 100%;
}

.courses {
  flex-grow: 1;
  display: grid;
  flex-direction: column;
  gap: 50px;
  padding: 10px;
}
.course {
  display: grid;
  grid: repeat(1, auto) / repeat(3, 3fr);
  border-bottom: 1px solid #33333371;
  margin-bottom: 5px;
  justify-items: center;
}
.courses-info :last-child {
  border: none;
}
.about {
  display: grid;
  grid: repeat(3, auto) / 1fr;
  flex-grow: 1;
  height: auto;
  width: 100%;
  justify-items: center;
  color: #333;
}
about-container {
  margin-bottom: 10px;
}
.about-container h3 {
  margin-bottom: 10px;
}
.about > div {
  margin-bottom: 50px;
  padding: 10px;
  width: 1000px;
}
.about div img {
  width: 100%;
  height: 100%;
}
.img-container {
  width: 1000px;
  height: 500px;
  margin-bottom: 10px;
}

/* footer area */
footer {
  display: grid;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
  height: max-content;
  color: white;
  font-weight: bold;
}

footer .container {
  display: grid;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid: 1fr / repeat(3, auto);
  justify-content: space-between;
  padding-block: 10px;
  gap: 150px;
}

.contact-info h3 {
  margin-bottom: 10px;
  color: #333;
  font-size: 18px;
}

.contact-info p {
  margin-bottom: 5px;
  color: #666;
  width: max-content;
  font-size: 15px;
}
.site-links {
  display: grid;
}
.site-links h3 {
  color: #333;
  font-size: 18px;
  text-align: center;
}
.site-links ul {
  display: grid;
  grid: 1fr / repeat(2, auto);
  /* gap: 24px; */
  list-style: none;
  padding: 0;
  font-size: 15px;
  column-gap: 15px;
}

.site-links ul li {
  margin-bottom: 5px;
  text-align: center;
}

.site-links ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.site-links ul li a:hover {
  color: #007bff;
}

.copyright {
  text-align: center;
  color: #666;
  font-size: 18px;
}

.copyright a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.copyright a:hover {
  color: #007bff;
}
