* {
  margin: 0;
}
body {
  height: 100dvh;
  width: 100dvw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.home {
  display: grid;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  grid: max-content 2fr max-content / 1fr;
}
nav {
  position: sticky;
  top: 0;
  display: grid;
  grid: 1fr / 0.1fr 1.2fr 0.08fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgb(2, 71, 77);
  background: linear-gradient(
    21deg,
    rgba(2, 71, 77, 1) 15%,
    rgba(4, 97, 105, 1) 50%,
    rgba(33, 123, 126, 1) 75%,
    rgba(16, 137, 141, 1) 100%
  );
  height: 100px !important;
  flex-grow: 0;
}
nav > *,
.nav-buttons > * {
  color: white;
  font-size: 18px;
}
nav .logo {
  display: flex;
  align-items: center;
  width: max-content;
  margin-right: 20px;
  height: 100%;
  width: 100px;
  cursor: pointer;
  position: relative;
  transition: 250ms ease-in-out;
}

nav .logo img {
  position: absolute;
  width: 100%;
  height: 90px;
  transition: 0.3s ease-in-out;
}
.main {
  z-index: 2;
}
.secondary {
  z-index: 1;
}
.hide {
  opacity: 0%;
  transition: 250ms ease-in-out;
}
.logo:hover .main {
  opacity: 0%;
}
.logo:hover {
  background-color: white;
}

nav .nav-buttons {
  display: grid;
  grid: 1fr / repeat(3, max-content);
  padding: 10px;
  /* margin-left: 100px; */
  gap: 50px;
}
.nav-buttons a {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: transparent;
  width: max-content;
  border: 1px solid transparent;
  padding: 5px 5px;
  outline: none;
  text-decoration: none;
}
.nav-buttons a::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  bottom: 0;
  background-color: white;
  transition: 0.3s ease-in-out;
}

.nav-buttons a:hover::before {
  width: 100%;
}

#logout {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  width: max-content;
  border: 1px solid transparent;
  background-color: #ffffff;
  color: #000;
  border-radius: 10px;
  padding: 7px 10px;
  outline: none;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

#logout:hover {
  background-color: red;
  color: white;
}
#logout:hover a {
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 30px;
  height: 100%;
}

.basic-info {
  display: flex;
  text-align: left;
  padding: 10px;
  flex-direction: column;
  height: 100%;
}
.basic-info h2 {
  margin-bottom: 20px;
}

.student-info {
  display: grid;
  grid: repeat(4, auto) / repeat(1, auto);
  height: 100%;
  align-items: center;
}
.teacher-info {
  display: grid;
  grid: repeat(3, auto) / repeat(1, auto);
  height: 100%;
  align-items: center;
}

.courses {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}
.course {
  display: grid;
  grid: repeat(1, auto) / repeat(3, 3fr);
  border-bottom: 1px solid #33333371;
  margin-bottom: 5px;
  justify-items: center;
}
.courses-info :last-child {
  border: none;
}

.courses {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 10px;
}
.students {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}
.students h2 {
  padding: 10px;
}
.enrolled-students {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.student {
  display: grid;
  grid: repeat(1, auto) / repeat(4, 3fr);
  border-bottom: 1px solid #33333371;
  margin-bottom: 5px;
  justify-items: center;
}
.enrolled-students :last-child {
  border: none;
}
.about {
  display: grid;
  grid: repeat(3, auto) / 1fr;
  flex-grow: 1;
  height: auto;
  width: 100%;
  justify-items: center;
  color: #333;
}
about-container {
  margin-bottom: 10px;
}
.about-container h3 {
  margin-bottom: 10px;
}
.about > div {
  margin-bottom: 50px;
  padding: 10px;
  width: 1000px;
}
.about div img {
  width: 100%;
  height: 100%;
}
.img-container {
  width: 1000px;
  height: 500px;
  margin-bottom: 10px;
}

/* footer area */
footer {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
  height: max-content;
  color: white;
  font-weight: bold;
}

.footer-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-block: 10px;
  gap: 150px;
  width: 100%;
  padding-inline: 30px;
}

.contact-info h3 {
  margin-bottom: 10px;
  color: #333;
  font-size: 18px;
}

.contact-info p {
  margin-bottom: 5px;
  color: #666;
  width: max-content;
  font-size: 15px;
}
.site-links {
  display: grid;
}
.site-links h3 {
  color: #333;
  font-size: 18px;
  text-align: center;
}
.site-links ul {
  display: grid;
  grid: 1fr / repeat(2, auto);
  /* gap: 24px; */
  list-style: none;
  padding: 0;
  font-size: 15px;
  column-gap: 15px;
}

.site-links ul li {
  margin-bottom: 5px;
  text-align: center;
}

.site-links ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.site-links ul li a:hover {
  color: #007bff;
}

.copyright {
  text-align: center;
  color: #666;
  font-size: 18px;
}

.copyright a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.copyright a:hover {
  color: #007bff;
}
.white {
  background-color: white;
}
