.invalid {
  box-shadow: 0px 0px 5px 5px red;
}

.valid {
  box-shadow: 0px 0px 5px 5px green;
}
form {
  display: grid;
  justify-items: center;
}

.home {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.home .head h2 {
  text-align: center;
  margin-bottom: 20px;
}

.home .body input[type="text"],
.home .body input[type="password"] {
  width: calc(100% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.home .body input[type="radio"] {
  margin-right: 5px;
}

.home .body label {
  font-size: 14px;
}

.home .body input[type="submit"] {
  width: calc(100% - 20px);
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0073f7;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.home .body input[type="submit"]:hover {
  background-color: #0056b3;
}

.home .body a {
  text-decoration: none;
  color: #0073f7;
}

.home .body a:hover {
  text-decoration: underline;
}

.home .footer {
  text-align: center;
  margin-top: 20px;
}
