.invalid {
  box-shadow: 0px 0px 5px 5px red;
}

.valid {
  box-shadow: 0px 0px 5px 5px green;
}
form {
  display: grid;
  justify-items: center;
}

.container {
  position: relative;
  width: 350px;
  margin: 50px auto;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 5px 0px 12px -1px rgba(0, 0, 0, 0.32);
}

.head {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.head img {
  position: absolute;
  width: 110px;
  height: 115px;
  transition: 0.3s ease-in-out;
}

.main {
  z-index: 2;
  transition: 250ms ease-in-out;
}
.secondary {
  z-index: 1;
}
.main:hover {
  opacity: 0;
}

input[type="text"]:focus-visible,
input[type="password"]:focus-visible {
  outline: none;
}
.body input[type="text"],
.body input[type="password"],
.body input[type="submit"] {
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.body input[type="submit"] {
  background-color: #0073f7;
  color: white;
  font-family: sans-serif;
  border: none;
  cursor: pointer;
}

.footer p {
  font-size: 12px;
  font-family: sans-serif;
  margin-top: 20px;
  color: #666;
  transition: 0.4s ease-in-out;
  cursor: default;
  font-weight: bold;
}
.footer p:hover {
  color: #007bff;
}

.checkbox-content {
  text-align: left;
}
.dropdown {
  position: relative;
  margin: 0px 0px;
  padding: 6px 0px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  border-radius: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  overflow-y: scroll;
  height: 100px;
  border-radius: 5px;
  box-shadow: 5px 0px 12px -1px #0073f7;
  width: 91%;
  top: 29px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  box-shadow: 5px 0px 12px -1px #0073f7;
}
.invalid-user-name,
.invalid-name,
.invalid-password,
.invalid-address,
.invalid-courses,
.used-username {
  color: red;
}
.hide {
  display: none;
}
form a {
  display: flex;
  justify-content: center;
  position: relative;
  text-decoration: none;
  color: black;
  margin: auto;
  margin-top: 5px;

  font-weight: bold;
  width: max-content;
}

form a::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  bottom: -5px;
  background-color: #000;
  transition: 0.3s ease-in-out;
}

form a:hover::before {
  width: 100%;
}
.red {
  color: red;
}

a.font-dark:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  bottom: -5px;
  background-color: white;
  transition: 0.3s ease-in-out;
}

a:hover::before {
  width: 100%;
}
a.dark-font:hover::before {
  width: 100%;
}
.body-dark {
  background-color: #171717;
  color: white !important;
}
.container-dark {
  background-color: #262424;
  color: white !important;
  border: none;
  box-shadow: 5px -6px 12px -1px #262424;
}
.font-dark {
  color: white !important;
}
.checkbox-content label {
  color: #000 !important;
}
.theme-switcher {
  cursor: pointer;
  position: absolute;
}
